@import url(https://fonts.googleapis.com/css?family=Quattrocento+Sans);


.loading {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: calc(100vw - 10%);
  background-color: rgba(218, 218, 218, 0); /* Slightly transparent white background */
  backdrop-filter: blur(4px); /* White background */
  position: absolute;
  left: 0 ;
  top: 2%;
}


.loading-text {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 7%;
  right: 0;
  margin: auto;
  text-align: center; /* Center the text */
  width: 100%;
  height: 100px;
  line-height: 100px;
}


.loading-text span {
  display: inline-block;
  margin: 0 5px;
  color: #ff2222;
  font-size: 1.5em;
  font-family: "Quattrocento Sans", sans-serif;
}


.loading-text span:nth-child(1) {
  filter: blur(0px);
  animation: blur-text 1.5s 0.0s infinite linear alternate;
}


.loading-text span:nth-child(2) {
    filter: blur(0px);
  animation: blur-text 1.5s 0.2s infinite linear alternate;
}


.loading-text span:nth-child(3) {
  filter: blur(0px);
  animation: blur-text 1.5s 0.4s infinite linear alternate;
}


.loading-text span:nth-child(4) {
  filter: blur(0px);
  animation: blur-text 1.5s 0.6s infinite linear alternate;
}


.loading-text span:nth-child(5) {
  filter: blur(0px);
  animation: blur-text 1.5s 0.8s infinite linear alternate;
}


.loading-text span:nth-child(6) {
  filter: blur(0px);
  animation: blur-text 1.5s 1.0s infinite linear alternate;
}


.loading-text span:nth-child(7) {
  filter: blur(0px);
  animation: blur-text 1.5s 1.2s infinite linear alternate;
}
.loading-text span:nth-child(8) {
  filter: blur(0px);
  animation: blur-text 1.5s 1.4s infinite linear alternate;
}


@keyframes blur-text {
  0% {
    filter: blur(0px);
  }
  100% {
    filter: blur(4px);
  }
}
